<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../../../static/assets/img/favicon.ico">

    <script src="https://cdn.tiny.cloud/1/i89tl3j00lxrcrfudol90stmjofi0sxt0s8zu0jdniz8v5w3/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

    <script>tinymce.init({selector:'textarea'});</script>

    <!-- CSS here -->
    <link rel="stylesheet" href="../../../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../../../static/assets/css/price_rangs.css">
    <link rel="stylesheet" href="../../../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../../../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../../../static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../../static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../../../static/assets/css/slick.css">
    <link rel="stylesheet" href="../../../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../../../static/assets/css/style.css">