<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Job board HTML-5 Template </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/img/favicon.ico">

    <!-- CSS here -->
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../../static/assets/css/price_rangs.css">
    <link rel="stylesheet" href="../../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../../static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/assets/css/slick.css">
    <link rel="stylesheet" href="../../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../../static/assets/css/style.css">
</head>

<body>
<span class="flaticon-tour"></span>
<p>flaticon-tour</p>
<span class="flaticon-report"></span>
<p>flaticon-report</p>
<span class="flaticon-cms"></span>
<p>flaticon-cms</p>
<span class="flaticon-app"></span>
<p>flaticon-app</p>
<span class="flaticon-helmet"></span>
<p>flaticon-helmet</p>
<span class="flaticon-high-tech"></span>
<p>flaticon-high-tech</p>
<span class="flaticon-real-estate"></span>
<p>flaticon-real-estate</p>
<span class="flaticon-content"></span>
<p>flaticon-content</p>
<span class="flaticon-search"></span>
<p>flaticon-search</p>
<span class="flaticon-curriculum-vitae"></span>
<p>flaticon-curriculum-vitae</p>

</body>
